# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Build output
dist/
dist-ssr/
build/
coverage/

# Cache directories
.cache/
.vite/
.parcel-cache/
*.tsbuildinfo
.eslintcache
.stylelintcache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
playwright-report/

# Environment variables & local configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor & IDE directories
.zcode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.

# Operating System files
.DS_Store
.DS_Store?
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# pindonga files
pindonga/

# Playwright test artifacts
test-results/
